div a, p+a, span, ol li, .tab, body {
    border: black;
    box-shadow: 8.0px 10.0px black;
    --webkit-blur: 1px;
    display: block;
}

.popup {
    z-index: 10;
    border-radius: 10%;
    box-shadow: 24.0px 30.0px black;
    --webkit-blur: 1px;
    display: block;
    background-color: blue;
}

.popup:hover {
    box-shadow: 32.0px 40.0px black;
    --webkit-blur: 1px;
    display: block;
}

div a, p+a, span, ol li {
    color: black;
    background-color: black;
    font-size: 10pt;
    font-family: arial;
}

div a:hover, p+a:hover, span:hover, ol li:hover {
    background-color: blue;
    font-size: 12pt;
}

div a:active, p+a:active, span:active, ol li:active {
    background-color: red;
}

